# RSA
app_id: 0508a116-1239-4e28-b150-85a8e3e6b400
client_secret: 0b1a07abda1d14be9fb0388c0c9ec3a92a3ccdbcf6b10bbecf14a3716c8fa8a9
session_id: 1acc1794-ae86-4818-9574-e570e4ae4f3b
pin_code: '969893'
server_public_key: tV8qAl7Rdy+NjIRZquoDxXjDPJmyQKS7aj7LINw/U3SGpWrHX45xLwVK1uTnAiSOU13DzW6oecr2XlJ8SeyCW9Q0h30h5szN3cYq1R7IQHqTpasn0jwZ6Lm9Qv3ZRSZECb/dz8EkwxW57xek8Yezl2BHjFXjToYevKRafNhgSSM=
session_private_key: |
  -----BEGIN RSA PRIVATE KEY-----
  MIICXQIBAAKBgQC8KMWulSyMUOF0xdQampzIQotFXWcTNCiYJgIjaYxX9nnbmjDF
  1fb6MI7vN0+tH8fCN7N25etFxARMFzF2Kd+3qHI0x0izeKFh0gh/1mBMSUCCT12S
  jlsXfG0eNVGUiHKCdwh5JVqTU2rLm3UzGKbfBCXJjZbuTN/xwULQhJxReQIDAQAB
  AoGABFu1aHvQElf1QO0sIomeRA02iJ7HOmyk3BFVT1ishYUSAYIqywpPtC/Xv7a6
  Q7pOuDLuFzzwHCeUKecHoEMMCXzF3aJgyq3LGu9TNwo9tD1jiX/XH8j/iJ8SG2pO
  60p5zTml3f/KjrftZnoy57V8dZqFRkKq+4RqekFn3an3KQECQQD0CLU0eBi149D2
  iwlFwi2jkDkjryPnqdKa/mxipMBvNeSlkt/Kq+AhTQW0bItvf9qQHCI6AYpqHoJN
  m42zk6wJAkEAxWKvFvWHGXWZ5Dv31k9zdX6OFPpifPvfl8f+URnW5h9Ssj6uUtS6
  Mm79n0vKVdB9CU6qXy3P6zBKCGBAJY218QJBAKRPxKq6fnDiHw4R2cF1mEM8VazY
  PUW7y8l+q73TjpqS4Aw4E6UkCzqA4Ol1+ICvxpsnxkfmR6tiNXxJ06RpNvkCQCaA
  BCTXST23CYhSBhpgLuYZBD+lQvab7lXdpYZOIvOJ4ohv33K6mYLi0Udz8ghg/TKG
  jIa6GdcG+Tm/BGQOyxECQQCDiydoNJY1H9J+TV2FimB+CqJHNIukxs8uf5Hyd0yi
  x+d4R2UKis//30L5Zw1Ex5tHUUfS6+Bxaw9hbRoYCW9n
  -----END RSA PRIVATE KEY-----

# Ed25519
# app_id: 0508a116-1239-4e28-b150-85a8e3e6b400
# client_secret: 0b1a07abda1d14be9fb0388c0c9ec3a92a3ccdbcf6b10bbecf14a3716c8fa8a9
# session_id: 1acc1794-ae86-4818-9574-e570e4ae4f3b
# pin_code: '969893'
# server_public_key: T-3RhNg36a4rSCZRpkbRzbl5CnslOMDot9RqDsyKNVg
session_private_key session_private_key: 6rK2AAf3FmDIgNhgPiC-Sn5D5qh7ieq8PuJANnf4-goNRVZPt3cnY0Zr6xF1COaRuhXjNCuj6gvHgb_FnN7ktA
